<h1>Welcome to Bloccit</h1>
<p id="index-title">This is the Bloccit homepage.</p>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- Use any element to open the sidenav -->
<div id=span>

  <span onclick="openNav()"><button type="button" name="button"><</button></span>
</div>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
  <h2 id="mainh2"> MAIN BODY TEXT</h2>
  <p id="mainp">
    MAIN djh jkhg jhhhhhhhhhh yum yum yumy uym Hi EJ Media, you answered my last question very fast and efficiently. I do not like to bother but I keep hearing about a message board with source code and such. Is that still available? Do you have a site that contains these item or do you respond to each request individually? I feel like you are right there in the room teaching me this stuff. Being of the older generation, I am not trying to learn for a living, but just my own enjoyment of keeping my brain alive. I have ignored it for way too long.....﻿+TR Rooks (TRR) I started putting paste links to the source for each video in the information section.  This is a recent project of mine to get the source out for each video - if you see a video that does not have source let me know and I can put the link up.  Again its in the description of each video - thanks﻿ +Drew YTC Thanks much I always like positive feedback ... I just hit 1000 subscribers a few days ago which is pretty amazing ... the first few months I started this channel last year I had just a few views over the first several months ... I almost stoppped making videos because there was so little action but around March it really exploded for whatever reason so decided to keep marching on lol﻿
Show less
  </p>
</div>
